.skills {
  background-color: #f6f6f6;
  color: #333;
  padding: 100px 0;
  text-align: center;
}

.skills h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
.skills {
  background: linear-gradient(45deg, #f6f6f6, #e2e2e2); 
  color: #333;
  padding: 100px 0;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.skill h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.skill p {
  font-size: 1rem;
  line-height: 1.6;
}
